body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    overflow: auto;
}

.logo {
    width: 50%;
    float: left;
    background-color: blue;
    padding: 60px;
    box-sizing: border-box;
}

.email {
    width: 50%;
    float: left;
    background: green;
    color: white;
    padding: 60px;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    overflow: auto;
    background: red;
}

.menu li {
    float: left;
    background: yellow;
    padding: 10px 10px;
    margin-left: 10px;
}

.content {
    width: 100%;
}

.left-content {
    float: left;
    width: 50%;
    background: blue;
    color: white;
    padding: 60px 20px;
    box-sizing: border-box;
}

.right-content {
    float: left;
    width: 50%;
    background: green;
    color: white;
    padding: 60px 20px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background: lightyellow;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}